<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Conhecendo Serviço para pizzarias | SmartPizza</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="home.css">
</head>

<body>
  <div class="App">
    <div class="home_container">

      <nav>
        <div class='nav-logo-container'>
          <img src="./Assets/logo.png" alt="" />
        </div>
        <div class='navbar-links-container'>
          <a href=''>Home</a>
          <a href=''>Sobre</a>
          <a href=''>Créditos</a>
          <a href='/plans'>Planos</a>
          <a href="/login"><button class="primary-button"> Login now </button>
          </a>
        </div>
      </nav>

      <div class="home-banner-container">

        <div class="home-bannerImage-container">
          <img src="Assets/home-banner-background.png" alt="" />
        </div>

        <div class="home-text-section">
          <h1 class="primary-heading">
            Seu Software Completo para Pizzarias
          </h1>
          <p class="primary-text">
            Organize pedidos, gerencie mesas, ajude os garçons
            E implemente nossa política de espera
          </p>
          <a href="/plans"><button class="secondary-button">
              Assine Agora -></button>
          </a>
        </div>

        <div class="home-image-section">
          <img src="Assets/Logomarca.png" alt="" />
        </div>

      </div>
    </div>

    <div class="about-section-container">

      <div class="about-background-image-container">
        <img src="Assets/about-background.png" alt="" />
      </div>
      <div class="about-section-image-container">
        <img src="Assets/Image_about.png" alt="" />
      </div>

      <div class="about-section-text-container">

        <p class="primary-subheading">Sobre</p>
        <h1 class="primary-heading">
          Cuidar de pedidos nunca foi tão fácil
        </h1>
        <p class="primary-text">
          Desenvolvemos este sistema para pizzarias afim de facilitar o trabalho
          dos garçons, para enviar pedidos a cozinha e organizar a fabricação.
        </p>
        <p class="primary-text">
          Assine um de nossos planos para obter nosso sistema
          e adapte o seu negócio para uma melhor eficiencia.
        </p>
        <div class="about-buttons-container">
          <button class="secondary-button"> Saiba mais </button>
        </div>

      </div>

    </div>

    <div class="contact-page-wrapper">
      <h1 class="primary-heading">Ficou com alguma dúvida?</h1>
      <h1 class="primary-heading">Vamos te ajudar!</h1>
      <div class="contact-form-container">
          <input type="text" name="email" placeholder="Endereço do seu email" />
          <button type="submit" class="secondary-button">Enviar</button>
      </div>
    </div>

    <div class='footer-wrapper'>
      <div class='footer-section-one'>
        <div class='footer-logo-container'>
          <img src="Assets/logo.png" alt='' />
        </div>
        <div class='footer-icons'>
          <img src="./Assets/twitter.png" alt='' />
          <img src="./Assets/linkedin.png" alt='' />
          <img src="./Assets/youtube.png" alt='' />
          <img src="./Assets/instagram.png" alt='' />
        </div>
      </div>
      <div class='footer-section-two'>
        <div class='footer-section-columns'>
          <span>Ajuda</span>
          <span>Compartilhar</span>
          <span>Sobre</span>
          <span>Créditos</span>
          <span>Planos</span>
        </div>
        <div class='footer-section-columns'>
          <span>(85)99841-4376</span>
          <span>smartpizzainteligente@gmail.com</span>
          <span>leandro.soares.oliveira03@aluno.ifce.edu.br</span>
          <span>andre.bessa.moura06@aluno.ifce.edu.br</span>
        </div>
        <div class='footer-section-columns'>
          <span>Termos & Condições</span>
          <span>Privacidade Política</span>
        </div>
      </div>
    </div>
  </div>
</body>

</html>