<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar • Smart Pizza</title>
    <link rel="stylesheet" href="register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Kannada:wght@100;200;300;400;500" rel="stylesheet">
</head>


<body>

    <section class="area-Login">

        <div class="logo">
            <a href="http://localhost:8080/">
                <h1 id="smart">Smart</h1>
                <h1 id="pizza">Pizza</h1>
            </a>
        </div>

        <div class='login'>
            <form action="/register" method="post">

                <% if (messages.error) { %>
                    <div class="alert-danger">
                        <strong>
                            <%= messages.error %>
                        </strong>
                    </div>
                    <% } %>

                <input type="text" name="name" placeholder="Nome da empresa" autofocus>
                <input type="email" name="email" placeholder="Digite seu email" autofocus>
                <input type="password" name="password" placeholder="sua senha">
                <input type="submit" value="Cadastrar-se">
            </form>
            <a id="cadastro" href="/login">Já possuo cadastro</a></p>
        </div>

    </section>

</body>

</html>